body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(22, 29, 29);
  }

.white-boxed {
    color:rgb(255, 255, 255);
    box-sizing: border-box;
}

div.a {
    text-align: center;
}

.red-rounded {
    border-color: red;
    border-width: 10px;
    border-radius: 50%;
    border-style: ridge;
}