body {
    height: 100%;
    font-family: 'Itim', cursive;
    background: rgb(22, 29, 29);
  }
  
  .white-boxed {
    color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  
  div.a {
    text-align: center;
  }
  
  .red-rounded {
    border-color: red;
    border-width: 10px;
    border-radius: 50%;
    border-style: ridge;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }