body {
    height: 100%;
    font-family: 'Itim', cursive;
    background: rgb(22, 29, 29);
  }
  
  .white-boxed {
    color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  
  div.a {
    text-align: center;
  }
  
  .red-rounded {
    border-color: red;
    border-width: 10px;
    border-radius: 50%;
    border-style: ridge;
  }
  
  #rick {
    height: 420px;
    width: 640;
    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .crescent {
    position: absolute;
    margin: auto;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0px 0px blue;
  }